.titulo1{
    background-color: rgb(117, 89, 192);
    color: white;
    display: flex;
    justify-content: center;
    font-family: cursive;
    
}
.titulo2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.contenedor{
    display: flex;
    justify-content: center;  
}
button{
    background-color:azure;
    color: rgb(68, 41, 189);
}
.table td{
    border: 2;
    text-align: center;
}
.table td:hover{
    color: rgb(86, 46, 196);
    background-color: rgb(209, 198, 248);
}
.table th:hover{
    color: rgb(183, 0, 255);
    background-color: rgb(143, 119, 233);
}
.table tr{
    color:rgb(3, 40, 77);
    background-color: rgb(164, 204, 245);
    font-family:cursive;
}
caption{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:rgb(209, 198, 248);
    color: rgb(0, 0, 0);
}